<?xml version="1.0" encoding="UTF-8" ?>
<!-- Maven settings for CI -->
<settings
	xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd"
>
	<profiles>
		<!-- GPG settings -->
		<profile>
			<id>gpg</id>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<properties>
				<gpg.executable>gpg</gpg.executable>
				<!-- Load passphrase from env variable -->
				<gpg.passphrase>${env.INPUT_GPG_PASSPHRASE}</gpg.passphrase>
			</properties>
		</profile>
	</profiles>

	<servers>
		<!-- Sonatype OSSRH credentials -->
		<server>
			<id>${env.INPUT_SERVER_ID}</id>
			<!-- Load credentials from env variables -->
			<username>${env.INPUT_NEXUS_USERNAME}</username>
			<password>${env.INPUT_NEXUS_PASSWORD}</password>
		</server>
	</servers>
</settings>
